@font-face {
  font-family: 'portfolio';
  src: url('../font/portfolio.eot?15801334');
  src: url('../font/portfolio.eot?15801334#iefix') format('embedded-opentype'),
       url('../font/portfolio.woff2?15801334') format('woff2'),
       url('../font/portfolio.woff?15801334') format('woff'),
       url('../font/portfolio.ttf?15801334') format('truetype'),
       url('../font/portfolio.svg?15801334#portfolio') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'portfolio';
    src: url('../font/portfolio.svg?15801334#portfolio') format('svg');
  }
}
*/
[class^="Icon_"]:before, [class*=" Icon_"]:before {
  font-family: "portfolio";
  font-style: normal;
  font-weight: normal;
  speak: never;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.Icon_zoom-in:before { content: '\e800'; } /* '' */
.Icon_zoom-out:before { content: '\e801'; } /* '' */
.Icon_phone:before { content: '\e804'; } /* '' */
.Icon_mail:before { content: '\e805'; } /* '' */
.Icon_cancel:before { content: '\e806'; } /* '' */
.Icon_livejournal:before { content: '\e809'; } /* '' */
.Icon_left-big:before { content: '\e80a'; } /* '' */
.Icon_facebook:before { content: '\f09a'; } /* '' */
.Icon_menu:before { content: '\f0c9'; } /* '' */
.Icon_angle-left:before { content: '\f104'; } /* '' */
.Icon_angle-right:before { content: '\f105'; } /* '' */
.Icon_instagram:before { content: '\f16d'; } /* '' */
.Icon_vkontakte:before { content: '\f189'; } /* '' */
.Icon_file-pdf:before { content: '\f1c1'; } /* '' */
