.AlbumGroup
{
  overflow: auto;
  background-color: #fff;
}
.AlbumGroup .AlbumItem
{
  display: block;
  padding-top: 55%;
  background: center center / cover no-repeat;
  position: relative;
  outline: none;
}
.AlbumGroup .AlbumItem h2
{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 1.2rem;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}
.AlbumGroup .AlbumInfo
{
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #fff;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 1);
  display: flex;
  align-items: flex-end;
  font-size: .9rem;
  background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
}
@media (min-width: 500px)
{
  .AlbumGroup
  {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 900px)
{
  .AlbumGroup .AlbumInfo
  {
    top: 0;
    bottom: 0;
    background: rgba(255, 255, 255, .8);
    opacity: 0;
    transition: opacity .3s;
    text-shadow: none;
    color: #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
  }
  .AlbumGroup .AlbumItem:hover .AlbumInfo,
  .AlbumGroup .AlbumItem:focus .AlbumInfo
  {
    opacity: 1;
  }
}
@media (min-width: 1100px)
{
  .AlbumGroup
  {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
@media (min-width: 1500px)
{
  .AlbumGroup
  {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
