.ContactsMain dd
{
  margin: 5px 0 30px;
  font-size: 1.2rem;
}
.ContactsMain .ContactsLink
{
  padding: 10px 0;
  display: flex;
  align-items: center;
  width: fit-content;
}
.ContactsMain .ContactsLink .icon
{
  font-size: 1.4rem;
  margin-right: 15px;
}
