.Header
{
  position: relative;
  width: 100%;
  color: #fff;
  background: #333;
  z-index: 1;
}
.Header > .Inner
{
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 0 10px;
}
.Header nav
{
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  padding: 40px 10px 10px;
  box-sizing: border-box;
  background-color: #333;
  z-index: 2;
}
.Header h1
{
  font-size: 1.3rem;
  white-space: nowrap;
  margin: 0;
}
.Header h1 a[href]
{
  display: block;
  padding: 14px 10px;
  width: fit-content;
}
.Header button
{
  font-size: 1.8rem;
  background-color: transparent;
  color: inherit;
  border: none;
  padding: 2px 6px;
  opacity: .8;
  text-shadow: inherit;
  cursor: pointer;
  outline: none;
}
.Header button:hover,
.Header button:focus,
.Header button:active
{
  opacity: 1;
}
.Header ul
{
  font-weight: bold;
  padding: 0;
  margin: 0;
  list-style: none;
}
.Header li
{
  transition: background-color .2s;
}
.Header li
{
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}
.Header a[href]
{
  color: inherit;
}
.Header li a[href]
{
  display: block;
  padding: 15px 20px;
  opacity: .8;
}
.Header li a[href]:hover,
.Header li a[href]:focus,
.Header li a[href].current
{
  opacity: 1;
}
.Header li a[href].current
{
  cursor: default;
}
.Header .Social
{
  padding: 20px;
  font-size: 1.6rem;
  margin-top: 20px;
}
.Header .Social a[href]
{
  display: inline-block;
  padding: 10px;
  opacity: .8;
}
.Header .Social a[href]:hover,
.Header .Social a[href]:focus
{
  opacity: 1;
}
.Header small
{
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: .6rem;
  padding: 10px;
  opacity: .5;
}
@media (min-width: 900px)
{
  .Header
  {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 1fr;
    width: fit-content;
    height: 100%;
  }
  .Header h1
  {
    padding: 10px 0;
  }
  .Header button
  {
    display: none;
  }
  .Header nav
  {
    width: 100%;
    height: auto;
    position: relative;
    left: 0;
    background-color: transparent;
  }
  .Header ul
  {
    width: fit-content;
    padding: 0 10px;
  }
  .Header li a[href]
  {
    padding: 10px;
  }
  .Header .Social
  {
    font-size: 1.2rem;
    padding: 10px;
  }
}
